*{
    background: url(/assets/backg.png);
    background-size: 100px 100px;
    font-family: "Bruno Ace SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 150%;
}

.head{
    background-color: #000000;
}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 4%;
}

.parrafo__titulo{
    color: #FFFFFF;
    font-style: italic;
    font-size: 30px;
    display: contents;
}

body{
    display: block;
    margin-bottom: 3px;
    margin-left: 100px;
    margin-right: 100px;
}

main{
    display: flex;
    margin-bottom: 3px;
    margin-left: 100px;
    margin-right: 100px;
}

.texto{
    background: #000000;
    color: #FFFFFF;
    margin-top: 90px;
    text-transform: lowercase;
    text-align: left;
    resize: none;
    border-color: #FFFFFF;
    border-width: 2px;
}

::placeholder{ text-align: center; line-height: 30px; color: hsl(0, 98%, 50%); }
    .texto:focus{
        outline: none;
    }
    
.texto__no{
    background: #000000;
    color: #FFFFFF;
    margin-left: 90px;
    margin-top: 90px;
    text-align: left;
    resize: none;
    border-color: #FFFFFF;
    border-width: 2px;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.boton__encriptar{
    background-color: none;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    width: 187px;
    height: 67px;
    font-size: 18px;
    margin-left: 5%;
}

.boton__desencriptar{
    background-color: none;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    width: 187px;
    height: 67px;
    font-size: 18px;
    margin-left: 70px;
}

.boton__copiar{
    background-color: none;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    border-color: #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    width: 187px;
    height: 67px;
    font-size: 18px;
    margin-left: 190px;
    margin-top: 15px;
}

.boton__encriptar:hover{
    background-color: #FFFFFF;
    color: hsl(0, 98%, 50%);
    }

.boton__desencriptar:hover{
    background-color: #FFFFFF;
    color: hsl(0, 98%, 50%);
    }

.boton__copiar:hover{
    background-color: #FFFFFF;
    color: hsl(0, 98%, 50%);
}

.informacion{
    color:  #FFFFFF;
    font-size: 12px;
}

footer{
    font-style: italic;
    text-align: center;
    color: #FFFFFF;
    margin-top: 3%;
    height: 20%;
    font-size: x-small;
}

a{
    font-style: italic;
    color: #FFFFFF;
    font-size: x-small;
    text-decoration: none;
}

.foot{
    font-style: italic;
    color: #FFFFFF;
    font-size: small;
    text-decoration: none;
}

a:hover{
    color:  hsl(0, 98%, 50%);
    text-decoration: none;
}

/* Diseño responsivo */

/* Media queries para dispositivos móviles */
@media (max-width: 600px) {
    * {
        font-size: 16px;
    }

    .logo {
        width: 20%;
    }

    .parrafo__titulo {
        font-size: 24px;
    }

    main {
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
    }

    .texto,
    .texto__no {
        margin: 20px 0;
        font-size: 14px;
        width: calc(100% - 20px);
        position: relative;
    }

    .botones {
        flex-direction: column;
        align-items: center;
    }

    .boton__encriptar,
    .boton__desencriptar,
    .boton__copiar {
        width: 80%;
        margin: 10px 0;
    }

    .boton__copiar {
        margin-top: 20px;
    }

    .footer {
        margin: 5% 10%;
    }
}

/* Media queries para tablets */
@media (min-width: 601px) and (max-width: 1024px) {
    * {
        font-size: 17px;
    }

    .logo {
        width: 10%;
    }

    .parrafo__titulo {
        font-size: 30px;
    }

    main {
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
    }

    .texto,
    .texto__no {
        margin: 40px 0;
        font-size: 16px;
        width: calc(100% - 20px);
        position: relative;
    }

    .botones {
        flex-direction: column;
        align-items: center;
    }

    .boton__encriptar,
    .boton__desencriptar,
    .boton__copiar {
        width: 70%;
        margin: 15px 0;
    }

    .boton__copiar {
        margin-top: 30px;
    }

    .footer {
        margin: 5% 15%;
    }
}